name: Manual Deploy QA to Netlify

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: veloii/action-netlify-deploy@v2.2.1
        with:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID_QA }}
          NETLIFY_DEPLOY_MESSAGE: "QA deploy ${{ github.sha }}"
          NETLIFY_DEPLOY_TO_PROD: true
